$sprites: (
	"cursor": (
		normal: (
			x: 114,
			y: 34,
			width: 18,
			height: 22,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 228,
			y: 68,
			width: 36,
			height: 44,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"icon-facebook": (
		normal: (
			x: 46,
			y: 0,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 92,
			y: 0,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"icon-instagram": (
		normal: (
			x: 80,
			y: 0,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 160,
			y: 0,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"icon-mail": (
		normal: (
			x: 0,
			y: 61,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 0,
			y: 122,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"icon-phone": (
		normal: (
			x: 34,
			y: 61,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 68,
			y: 122,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"icon-telegram": (
		normal: (
			x: 68,
			y: 61,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 136,
			y: 122,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"icon-vk": (
		normal: (
			x: 114,
			y: 0,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 228,
			y: 0,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"logo": (
		normal: (
			x: 0,
			y: 0,
			width: 44,
			height: 59,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 0,
			y: 0,
			width: 88,
			height: 118,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"send": (
		normal: (
			x: 114,
			y: 58,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 228,
			y: 116,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"slider-point": (
		normal: (
			x: 134,
			y: 34,
			width: 10,
			height: 10,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 268,
			y: 68,
			width: 20,
			height: 20,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
	"star": (
		normal: (
			x: 80,
			y: 34,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 146,
			total_height: 93,
		),
		retina: (
			x: 160,
			y: 68,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 292,
			total_height: 186,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
